pip==20.2.3
setuptools==50.3.0
bump2version==1.0.1
wheel==0.35.1
watchdog==0.10.3
flake8==3.8.4
coverage==5.3
Sphinx==3.2.1
twine==3.2.0

pytest==6.1.1
pytest-runner==5.2
pytest-console-scripts==1.0.0
